/* Styles for Single Level Menu */

@media screen and (min-width: 30em) {
	.single-nav ul {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}
	.single-nav li {
		/* can't align them to left, right or center with flex */
		/* this property applies for space-between or space around */
		flex: 1 0 auto;
		text-align: center;
	}
}